/* Add this at the top of your CSS file */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #44D7A8;
}

h1, h2 {
    color: #FDB827;
}

a {
    color: #44D7A8;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #44D7A8;
    color: #000;
    padding: 1em 0;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    padding: 0.5em 1em;
}

nav ul li.active {
    background-color: #FDB827;
}

section {
    display: none;
    margin: 2em;
}

section.active {
    display: block;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 10px 0;
    }
}
