/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #44D7A8;
}

h1, h2 {
    color: #FDB827;
}

a {
    color: #44D7A8;
}

/* Navigation styles */
nav {
    background-color: #44D7A8;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    cursor: pointer;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #44D7A8;
}

nav ul li.active {
    color: #000;
    background-color: #FDB827;
}

/* Section styles */
section {
    display: none;
    margin-top: 2em;
    border-bottom: 1px solid #44D7A8;
    padding-bottom: 1em;
}

section.active {
    display: block;
}

/* Responsive styles */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }

    ul li {
        font-size: 16px;
    }
}
